
  <header >
    <h4 class="container  text-center "> STUDENT ACADEMIC RADAR</h4>
    <hr class="dropdown-divider">

  </header>
  
  <%- include('./partials/messagePrompts.ejs') %> 



  <div class="home_icon_dashboard" >

    <span class="fa-solid fa-graduation-cap fa-10x"></span>
  </div>

  
<%- include ('./partials/header.ejs') %> 
 
<section>
  
  <div class="row row-cols-1 row-cols-md-3">
<% if(goals.length > 0) { %> 
  <% goals.forEach((goal)=> { %>
    
    
    <div class="col">
      <div class="card mb-5 mt-5 shadow rounded m-auto ">
        <div class="card-body">
          <h5 class="card-title"> <b class="h5 font-weight-light text-monospace text-success"> SET-ON : </b> <%- goal.createdAt %>  </h5>
          <hr class="dropdown-divider">
          <p class="card-text"> <%- goal.text %></p>
          
          <div class="d-flex justify-content-end mt-1">
            <div>
              <a  href="/api/goal/updateForm/<%- goal._id %>"  class="btn btn-outline-success rounded-pill m-auto"><i class="fas fa-edit"></i></a>
            </div>
             <div>
               <form action="/api/goal/<%- goal._id %>" method="POST" id="delete-form">
                 <input type="hidden" name="_method" value="DELETE">
                 <button type="submit" class="btn btn-outline-danger rounded-pill " >
                     <i class="fas fa-trash"></i>
                 </button>
               </form>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  
    
      

    

    
        <% }); %>
      


  <% } else{ %>

    <div class="alert alert-warning alert-dismissible text-dark  fade show" role="alert">Welcome On Board  <strong><%- student.name %>.  </strong>Lets Get Started ! 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
    <% } %> 
</section>
  </div>

 